body{
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", "Arial", sans-serif;
  letter-spacing: 0.5px;
}

/* *:focus{
  outline-color: #FF7500;
  outline-style: dashed;
  outline-width: 2px;
} */

/* SITE-HEADER */
.site-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.logo-link{
  transition: opacity 0.4s ease;
}

.logo-link:hover{
  opacity: 0.8;
}

.logo-link:active{
  opacity: 0.6;
}

.site-header-actions{
  display: flex;
  align-items: center;
}

.sitenav-list{
  display: flex;
  /* justify-content: space-between;
  align-items: center; */
  list-style: none;
}

.sitenav-link{
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  transition: color 0.4s ease;
}

.sitenav-link:hover{
  color: #FF7500;
}
.sitenav-link:active{
  opacity: 0.6;
}

.primary-button{
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-decoration: none;
  background-color: #FF7500;
  color: #fff;
  transition: opacity 0.4s ease;
}

.primary-button:hover{
  opacity: 0.8;
}
.primary-button:active{
  opacity: 0.6;
}


/* HERO */
.hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #252420;
  color: #fff;
}

.hero-content{
  width: 390px;
}

.hero-line{
  width: 80px;
  height: 3px;
  background-color: #FF7500;
}

.hero-heading{
  font-size: 40px;
  font-family: "Roboto Condenced", "Roboto", "Arial", sans-serif;
  line-height: 1.2;
  text-transform: uppercase;
}

.hero-img{
  width: 510px;
  height: 510px;
}


/* FEATURES */
.features-heading{
  width: 440px;
  font-size: 72px;
  font-family: "Roboto Condenced", "Roboto", "Arial", sans-serif;
  line-height: 1.2;
  letter-spacing: 0.5px;
}

.features-list{
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.features-item{
  width: 340px;
}

.feautures-icon-wrapper{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 100px;
  height: 100px;
  background-color: rgba(255, 117, 0, 0.2);
}

.features-title{
  font-size: 24px;
  line-height: 1.2;
  font-family: "Roboto Condenced", "Roboto", "Arial", sans-serif;
}



/* AKSIYA */
.sale{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #252420;
  color: #fff;
}

.sale-content{
  width: 440px;
}

.sale-heading{
  font-size: 40px;
  line-height: 48px;
  font-family: "Roboto Condenced", "Roboto", "Arial", sans-serif;
}


.sale-strong{
  color: #FF7500;
}

.sale-img{
  width: 440px;
  height: 440px;
  object-fit: cover;
}


/* SITE-FOOTER */
.site-footer{
  background-color: #f8f8f8;
}

.site-footer-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials{
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.socials-icon{
  color: #252420;
  transition: background-color 0.4s ease;
}

.socials-icon:hover{
  background-color: #FF7500;
}
.socials-icon:active{
  opacity: 0.6;
}

.site-footer ul{
  list-style: none;
}


.footer-line{
  height: 2px;
  background-color: rgba(37, 36, 32, 0.5);
}

.site-footer-bottom{
  display: flex;
  /* justify-content: space-between;
  align-items: center; */
  width: 1,100px;
  height: 229px;
}

.site-footer-link-list{
  width: 224px;
  line-height: 19px;
}


.site-footer-link{
  text-decoration: none;
  color: #252420;
  transition: color 0.3s ease;
}

.site-footer-link:hover{
  color: #FF7500;
}
.site-footer-link:active{
  opacity: 0.6;
}